* {
    line-height: 1.3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
#projetos {
    font-size: clamp(.7em, 1.5em, 2em);;
    position: fixed;
    background-color: #ebebeb;
    color: #111111;
}
h1 {
    font-size: clamp(1.25em, 1em + 3vw, 2.5em);
    text-align: center;
}
p {font-size: clamp(.7em, 1em, 1.2em);}
html {scroll-behavior: smooth;}
a {
    transition: color .3s;
    color: #ebebeb;
    border-bottom: 1px solid;
}
a:hover, a:focus {color: #f13239;}
header {
    padding: 8px 24px;
    background-color: #111111;
}
header .container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;/*quebra a linha pra baixo quando não há espaço entre os objetos flex*/
    row-gap: 8px;
    column-gap: 24px;
}
header img {
    width: 180px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li + li{margin-left: 24px;}
/* ------------FIM da HEADER-------------- */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;/*alinha os objetos flex no final*/
    align-items: center;

    height: 320px;
    padding: 24px;

    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center 25%;
}
.hero h1 {
    border-radius: 15%;
    padding: 0 7px;
    background-color: rgb(2, 2, 2);
    color: #f3d6d6;
    /* font-size: 36px; */
}

.dots {
    margin-top: 15px;
    display: flex;
}
.dots button {
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ebebeb;
    cursor: pointer;
}
.dots button + button {margin-left: 10px;}
#active {background-color: red;}
/* -----------------------section1---------------------------- */
.gallery {
    font-weight: bold;
    padding: 10px;
    max-width: 1200px;
    margin: 64px auto 0;
}
.gallery h2, .history_col h2 {
    padding-left: 5px;
    border-left: 6px red solid;
    margin-bottom: 32px;
}
.gallery_row {
    display: flex;/*organiza todas a filhas uma do lado da outra sem quebrar a linha*/
    flex-wrap: wrap;/*faz com que quebre a linha quando não couber mais*/
    gap: 24px;/*cria espaços entre os elementos*/
}
.gallery_row figure {
    /* width: 250px; */
    flex: 1 1 250px;
}
.gallery_row figure img {
    border: 2px solid;
    border-radius: 4%;
    width: 100%;
}
.gallery_row figure figcaption {
    padding: 20px;
    text-align: center;
}
/*--------------------------section2----------------------*/
.history {
    background-color: #111111;
    color: #ebebeb;
    border-top: 3px solid red;
    padding-bottom: 25px;
}
.history_texto {
    max-width: 1200px;
    margin: 0 auto;
}
.history p + p {margin-top: 24px;}

.history .container {
    padding: 20px 20px 0;
    align-items: center;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 1200px;
    border-bottom: 3px solid rgb(220, 78, 78);
}
.history_col {
    flex: 1 1 250px;
}
.history_col img {
    width: 100%;
    display: block;
}
/* -----------------footer------------------ */
footer {
    text-align: center;
    background-color: #111111;
    color:#ebebeb ;
    padding-bottom: 25px;
}

@media (max-width: 385px) {
    header .container {
        justify-content: center;
    }
}