* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body {padding: 20px;} */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    background-color: black;
    color: aliceblue;
    padding: 7px;
    font-size: 1.3em;
}
header a {
    color: white;
}
#topo {
    margin-right: 50%;
}
.sec {
    background-color: blue;
    display: flex;
    align-items: flex-start;/*alinha objetos flex no topo*/
    gap: 15px;/*cria espaços entre objetos flex*/
    margin: 100px 0 40px;
    padding: 10px;
    max-width: 800px;
}
/* #sec1{display: none;} */
.sec h2 {
    background-color: aliceblue;
    white-space: nowrap;/*não deixa quebrar a linha*/
}
#stick {
    position: sticky;/*gruda o elemento na tela até acabar o comprimento da box que ele está*/
    top: 60px;/*precisa colocar para funcionar o sticky*/
}
