#projetos {
    font-size: clamp(.7em, 1.5em, 2em);
    position: fixed;
    top: 0;
    background-color: #ebebeb;
    color: #111111;
}
header {margin-top: 50px;}
p#p1 {
    color: blue;
    background-image: url("img.jpg");
    /*a imagem deve estar na mesma pasta do arquivo css*/
    font-family: monospace;
    font-style: oblique;
    text-align: center;
    font-size: 20px;
    width: 500px;
    /* define a largura do elemento*/
    padding: 5px;
    /*define todos os espaços internos. Pode receber 4 valores*/
    margin: auto;
    /* define todos os espaços externos. Pode receber 4 valores*/
    line-height: 30px;
    /* altera a altura entre as linha */
    letter-spacing: 2px;
    /* altera espaço entre as letras */
    border-top: 4px solid blue;
    border-right: 4px solid rgb(25, 26, 24);
    border-bottom: 4px solid rgb(212, 0, 255);
    border-left: 4px solid rgb(21, 255, 0);
}