/* -------------------------------DIVs--------------------------------- */
.div_geral {
    text-align: center;/*centraliza todos os textos filhos*/
    background-color: green;
    margin-top: 10px;
}
.div3 {
    /*margin: 10px 0 15px;1=topo/2=laterais/3=fundo*/
    padding: 10px;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;/*centraliza na horizontal e "flex-end" coloca pra baixo*/
}
.div3 span {
    background-color: rgb(252, 252, 252);
}
.div3_1, .div3_2, .div3_3 {
    margin: 0 auto;
    border: 2px solid;
    width: 17em;
    height: 6em;
    display: flex;/*torna os objetos dentro da div flex*/
    align-items: center;
}
.div3_1 {
    background-color: aquamarine;
    justify-content: space-between;/*preenche a partir dos cantos*/
}
.div3_2 {
    background-color: blueviolet;
    justify-content: center;/*centraliza na vertical*/
}
.div3_3 {
    background-color: rgb(94, 65, 239);
    justify-content: space-evenly;/*preenche a partir do centro*/
}
.div3_1 div, .div3_2 div, .div3_3 div {
    width: 50px;
    height: 50px;
    background-color: red;
}
/*o "+" indica que só será aplicada a margem se houver outro elemento ao lado*/
.div3_2 div+div {
    margin-left: 10px;
}
#relativo {
    position: relative;/*posição relativa a posição inicial do objeto*/
    top: 10px;
    left: 20px;
}
/* -----------------------------GRID-------------------------------- */
.grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
    margin-top: 10px;
}
.grid div{
    margin: 0.5px;
    text-align: center;
    background-color: red;
    border: 2px solid;
}
.item0 {grid-column: 1 / span 2;}
.grid div:hover {/*gera uma ação ao passar o mouse sobre*/
    background-color: blue;
    transition: .5s;/*tempo do efeito*/
}
/* ----------------------------imagens-------------------------------- */
.figuras {
    width: 50%;
    display: flex;
    background-color: blue;
}
figure {
    padding: 5px;
    background-color: rgb(218, 213, 213);
}
.figuras img {
    width: 100%;
}